@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;700;900&display=swap");

:root {
  --main-color: #69dadb;
}

.App {
  display: flex;
  background-color: red;
  /* font-family: "Outfit", sans-serif; */
  /* justify-content: center; */
  /* max-width: 1200px;
   */
}
.MuiMenuItem-gutters.MuiMenuItem-root:hover {
  background-color: rgb(255, 255, 255, 0.1);
}
.MuiMenuItem-gutters.MuiMenuItem-root {
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
}
.MuiSvgIcon-root {
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  text-align: center;
} */
