@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;700;900&display=swap");

:root {
  --main-color: #69dadb;
}

.App {
  display: flex;
  background-color: red;
  /* font-family: "Outfit", sans-serif; */
  /* justify-content: center; */
  /* max-width: 1200px;
   */
}
.navbar {
  /* margin-top: 10px; */
  /* padding: 1rem; */
  /* idk men */
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  text-align: center;
} */
