:root {
  --main-color: #69dadb;
}

.App {
  display: flex;
  background-color: red;
  /* justify-content: center; */
  /* max-width: 1200px;
   */
}
.navbar {
  /* margin-top: 10px; */
  /* padding: 1rem; */
  /* idk men */
}
a {
  text-decoration: none;
}
/* .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  text-align: center;
} */
